@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

body{
    padding: 0;
    margin: 0;
    font-family: 'Nanum Gothic', sans-serif;;
}